*{
    padding: 0;
    margin: 0;
}

.content{
    border:1px solid black;
padding: 50px;
background-color: black;
align-items: center;
  justify-content: center;
  

}
.content label{
    color:white;
   text-align: center;


  input
    {width:200px;}  
jhasfdgjhgasgvdjyhsagf