@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@400;700&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */
.center {
    text-align: center;
}

.content {
        width: 40%;
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 10px;
    background-color: pink;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

#n {
    align-items:right;
    margin: 20px;
    font-family: 'Lato'; font-weight: 400; font-size: 15px;
}
#p {
    align-items:right;
    margin-right:35px;
}

.content label {
    margin-bottom: 20px;
}

button {
    border-radius:20px;
    color: white;
    background-color: black;
    padding: 10px 50px;
    font-size: 20px; /* Adjusted font size */
    margin: 0 auto; /* Center horizontally */
}


span{
    text-align:left;
    font-family:cursive;
    size:15px;
    font-weight:400;
    margin-left:30;
}


#e {
margin-bottom: 10px;

}

.content label {
    color: black;
    text-align: center;
    /* Adjust margin as needed */
    margin: 20px; /* Reduced margin */
}

input {
    width: 300px;
    font-family: Lato;
    font-size: 20px;
    color: black;
}
#action{
    margin-top:20px;
    padding:10px;
    font-family:Poppins;
    font-weight:500;
    font-size: 20px;
}
img{
    width:200; 
    height:200;
    border-radius:100px;
    border:2px solid black;
}
h4{
    margin-top:20;
    font-family: 'Franklin Gothic Medium'; font-weight: 500; font-size: 20px;
}