
.over {
    position: relative;
  /*  top: 0;
    left: 0;*/
  }
  .left {
    position: relative;
    top: 0;
    left: 0;
    height:100%;
    width:50%;
   /* background-color: white; */
  }
  .tl {
    position: absolute;
    top: 30px;
    left: 25px;
    height:8%;
    width:8%;
  }
  .centre{
    position:absolute;
    top:300px;
    left:100px;
  }
  .cen{
    position:absolute;
    top:200px;
    left:200px;
  }
 /* body{
    background-color: black;
}*/
/*width:auto*/